.m-0-px {
    margin: 0px !important
}

.m-1-px {
    margin: 1px !important
}

.m-2-px {
    margin: 2px !important
}

.m-3-px {
    margin: 3px !important
}

.m-4-px {
    margin: 4px !important
}

.m-5-px {
    margin: 5px !important
}

.m-6-px {
    margin: 6px !important
}

.m-7-px {
    margin: 7px !important
}

.m-8-px {
    margin: 8px !important
}

.m-9-px {
    margin: 9px !important
}

.m-10-px {
    margin: 10px !important
}

.m-11-px {
    margin: 11px !important
}

.m-12-px {
    margin: 12px !important
}

.m-13-px {
    margin: 13px !important
}

.m-14-px {
    margin: 14px !important
}

.m-15-px {
    margin: 15px !important
}

.m-16-px {
    margin: 16px !important
}

.m-17-px {
    margin: 17px !important
}

.m-18-px {
    margin: 18px !important
}

.m-19-px {
    margin: 19px !important
}

.m-20-px {
    margin: 20px !important
}

.m-21-px {
    margin: 21px !important
}

.m-22-px {
    margin: 22px !important
}

.m-23-px {
    margin: 23px !important
}

.m-24-px {
    margin: 24px !important
}

.m-25-px {
    margin: 25px !important
}

.m-26-px {
    margin: 26px !important
}

.m-27-px {
    margin: 27px !important
}

.m-28-px {
    margin: 28px !important
}

.m-29-px {
    margin: 29px !important
}

.m-30-px {
    margin: 30px !important
}

.m-31-px {
    margin: 31px !important
}

.m-32-px {
    margin: 32px !important
}

.m-33-px {
    margin: 33px !important
}

.m-34-px {
    margin: 34px !important
}

.m-35-px {
    margin: 35px !important
}

.m-36-px {
    margin: 36px !important
}

.m-37-px {
    margin: 37px !important
}

.m-38-px {
    margin: 38px !important
}

.m-39-px {
    margin: 39px !important
}

.m-40-px {
    margin: 40px !important
}

.m-41-px {
    margin: 41px !important
}

.m-42-px {
    margin: 42px !important
}

.m-43-px {
    margin: 43px !important
}

.m-44-px {
    margin: 44px !important
}

.m-45-px {
    margin: 45px !important
}

.m-46-px {
    margin: 46px !important
}

.m-47-px {
    margin: 47px !important
}

.m-48-px {
    margin: 48px !important
}

.m-49-px {
    margin: 49px !important
}

.m-50-px {
    margin: 50px !important
}

.m-51-px {
    margin: 51px !important
}

.m-52-px {
    margin: 52px !important
}

.m-53-px {
    margin: 53px !important
}

.m-54-px {
    margin: 54px !important
}

.m-55-px {
    margin: 55px !important
}

.m-56-px {
    margin: 56px !important
}

.m-57-px {
    margin: 57px !important
}

.m-58-px {
    margin: 58px !important
}

.m-59-px {
    margin: 59px !important
}

.m-60-px {
    margin: 60px !important
}

.m-61-px {
    margin: 61px !important
}

.m-62-px {
    margin: 62px !important
}

.m-63-px {
    margin: 63px !important
}

.m-64-px {
    margin: 64px !important
}

.m-65-px {
    margin: 65px !important
}

.m-66-px {
    margin: 66px !important
}

.m-67-px {
    margin: 67px !important
}

.m-68-px {
    margin: 68px !important
}

.m-69-px {
    margin: 69px !important
}

.m-70-px {
    margin: 70px !important
}

.m-71-px {
    margin: 71px !important
}

.m-72-px {
    margin: 72px !important
}

.m-73-px {
    margin: 73px !important
}

.m-74-px {
    margin: 74px !important
}

.m-75-px {
    margin: 75px !important
}

.m-76-px {
    margin: 76px !important
}

.m-77-px {
    margin: 77px !important
}

.m-78-px {
    margin: 78px !important
}

.m-79-px {
    margin: 79px !important
}

.m-80-px {
    margin: 80px !important
}

.m-81-px {
    margin: 81px !important
}

.m-82-px {
    margin: 82px !important
}

.m-83-px {
    margin: 83px !important
}

.m-84-px {
    margin: 84px !important
}

.m-85-px {
    margin: 85px !important
}

.m-86-px {
    margin: 86px !important
}

.m-87-px {
    margin: 87px !important
}

.m-88-px {
    margin: 88px !important
}

.m-89-px {
    margin: 89px !important
}

.m-90-px {
    margin: 90px !important
}

.m-91-px {
    margin: 91px !important
}

.m-92-px {
    margin: 92px !important
}

.m-93-px {
    margin: 93px !important
}

.m-94-px {
    margin: 94px !important
}

.m-95-px {
    margin: 95px !important
}

.m-96-px {
    margin: 96px !important
}

.m-97-px {
    margin: 97px !important
}

.m-98-px {
    margin: 98px !important
}

.m-99-px {
    margin: 99px !important
}

.m-100-px {
    margin: 100px !important
}

.ml-0-px {
    margin-left: 0px !important
}

.ml-1-px {
    margin-left: 1px !important
}

.ml-2-px {
    margin-left: 2px !important
}

.ml-3-px {
    margin-left: 3px !important
}

.ml-4-px {
    margin-left: 4px !important
}

.ml-5-px {
    margin-left: 5px !important
}

.ml-6-px {
    margin-left: 6px !important
}

.ml-7-px {
    margin-left: 7px !important
}

.ml-8-px {
    margin-left: 8px !important
}

.ml-9-px {
    margin-left: 9px !important
}

.ml-10-px {
    margin-left: 10px !important
}

.ml-11-px {
    margin-left: 11px !important
}

.ml-12-px {
    margin-left: 12px !important
}

.ml-13-px {
    margin-left: 13px !important
}

.ml-14-px {
    margin-left: 14px !important
}

.ml-15-px {
    margin-left: 15px !important
}

.ml-16-px {
    margin-left: 16px !important
}

.ml-17-px {
    margin-left: 17px !important
}

.ml-18-px {
    margin-left: 18px !important
}

.ml-19-px {
    margin-left: 19px !important
}

.ml-20-px {
    margin-left: 20px !important
}

.ml-21-px {
    margin-left: 21px !important
}

.ml-22-px {
    margin-left: 22px !important
}

.ml-23-px {
    margin-left: 23px !important
}

.ml-24-px {
    margin-left: 24px !important
}

.ml-25-px {
    margin-left: 25px !important
}

.ml-26-px {
    margin-left: 26px !important
}

.ml-27-px {
    margin-left: 27px !important
}

.ml-28-px {
    margin-left: 28px !important
}

.ml-29-px {
    margin-left: 29px !important
}

.ml-30-px {
    margin-left: 30px !important
}

.ml-31-px {
    margin-left: 31px !important
}

.ml-32-px {
    margin-left: 32px !important
}

.ml-33-px {
    margin-left: 33px !important
}

.ml-34-px {
    margin-left: 34px !important
}

.ml-35-px {
    margin-left: 35px !important
}

.ml-36-px {
    margin-left: 36px !important
}

.ml-37-px {
    margin-left: 37px !important
}

.ml-38-px {
    margin-left: 38px !important
}

.ml-39-px {
    margin-left: 39px !important
}

.ml-40-px {
    margin-left: 40px !important
}

.ml-41-px {
    margin-left: 41px !important
}

.ml-42-px {
    margin-left: 42px !important
}

.ml-43-px {
    margin-left: 43px !important
}

.ml-44-px {
    margin-left: 44px !important
}

.ml-45-px {
    margin-left: 45px !important
}

.ml-46-px {
    margin-left: 46px !important
}

.ml-47-px {
    margin-left: 47px !important
}

.ml-48-px {
    margin-left: 48px !important
}

.ml-49-px {
    margin-left: 49px !important
}

.ml-50-px {
    margin-left: 50px !important
}

.ml-51-px {
    margin-left: 51px !important
}

.ml-52-px {
    margin-left: 52px !important
}

.ml-53-px {
    margin-left: 53px !important
}

.ml-54-px {
    margin-left: 54px !important
}

.ml-55-px {
    margin-left: 55px !important
}

.ml-56-px {
    margin-left: 56px !important
}

.ml-57-px {
    margin-left: 57px !important
}

.ml-58-px {
    margin-left: 58px !important
}

.ml-59-px {
    margin-left: 59px !important
}

.ml-60-px {
    margin-left: 60px !important
}

.ml-61-px {
    margin-left: 61px !important
}

.ml-62-px {
    margin-left: 62px !important
}

.ml-63-px {
    margin-left: 63px !important
}

.ml-64-px {
    margin-left: 64px !important
}

.ml-65-px {
    margin-left: 65px !important
}

.ml-66-px {
    margin-left: 66px !important
}

.ml-67-px {
    margin-left: 67px !important
}

.ml-68-px {
    margin-left: 68px !important
}

.ml-69-px {
    margin-left: 69px !important
}

.ml-70-px {
    margin-left: 70px !important
}

.ml-71-px {
    margin-left: 71px !important
}

.ml-72-px {
    margin-left: 72px !important
}

.ml-73-px {
    margin-left: 73px !important
}

.ml-74-px {
    margin-left: 74px !important
}

.ml-75-px {
    margin-left: 75px !important
}

.ml-76-px {
    margin-left: 76px !important
}

.ml-77-px {
    margin-left: 77px !important
}

.ml-78-px {
    margin-left: 78px !important
}

.ml-79-px {
    margin-left: 79px !important
}

.ml-80-px {
    margin-left: 80px !important
}

.ml-81-px {
    margin-left: 81px !important
}

.ml-82-px {
    margin-left: 82px !important
}

.ml-83-px {
    margin-left: 83px !important
}

.ml-84-px {
    margin-left: 84px !important
}

.ml-85-px {
    margin-left: 85px !important
}

.ml-86-px {
    margin-left: 86px !important
}

.ml-87-px {
    margin-left: 87px !important
}

.ml-88-px {
    margin-left: 88px !important
}

.ml-89-px {
    margin-left: 89px !important
}

.ml-90-px {
    margin-left: 90px !important
}

.ml-91-px {
    margin-left: 91px !important
}

.ml-92-px {
    margin-left: 92px !important
}

.ml-93-px {
    margin-left: 93px !important
}

.ml-94-px {
    margin-left: 94px !important
}

.ml-95-px {
    margin-left: 95px !important
}

.ml-96-px {
    margin-left: 96px !important
}

.ml-97-px {
    margin-left: 97px !important
}

.ml-98-px {
    margin-left: 98px !important
}

.ml-99-px {
    margin-left: 99px !important
}

.ml-100-px {
    margin-left: 100px !important
}

.mr-0-px {
    margin-right: 0px !important
}

.mr-1-px {
    margin-right: 1px !important
}

.mr-2-px {
    margin-right: 2px !important
}

.mr-3-px {
    margin-right: 3px !important
}

.mr-4-px {
    margin-right: 4px !important
}

.mr-5-px {
    margin-right: 5px !important
}

.mr-6-px {
    margin-right: 6px !important
}

.mr-7-px {
    margin-right: 7px !important
}

.mr-8-px {
    margin-right: 8px !important
}

.mr-9-px {
    margin-right: 9px !important
}

.mr-10-px {
    margin-right: 10px !important
}

.mr-11-px {
    margin-right: 11px !important
}

.mr-12-px {
    margin-right: 12px !important
}

.mr-13-px {
    margin-right: 13px !important
}

.mr-14-px {
    margin-right: 14px !important
}

.mr-15-px {
    margin-right: 15px !important
}

.mr-16-px {
    margin-right: 16px !important
}

.mr-17-px {
    margin-right: 17px !important
}

.mr-18-px {
    margin-right: 18px !important
}

.mr-19-px {
    margin-right: 19px !important
}

.mr-20-px {
    margin-right: 20px !important
}

.mr-21-px {
    margin-right: 21px !important
}

.mr-22-px {
    margin-right: 22px !important
}

.mr-23-px {
    margin-right: 23px !important
}

.mr-24-px {
    margin-right: 24px !important
}

.mr-25-px {
    margin-right: 25px !important
}

.mr-26-px {
    margin-right: 26px !important
}

.mr-27-px {
    margin-right: 27px !important
}

.mr-28-px {
    margin-right: 28px !important
}

.mr-29-px {
    margin-right: 29px !important
}

.mr-30-px {
    margin-right: 30px !important
}

.mr-31-px {
    margin-right: 31px !important
}

.mr-32-px {
    margin-right: 32px !important
}

.mr-33-px {
    margin-right: 33px !important
}

.mr-34-px {
    margin-right: 34px !important
}

.mr-35-px {
    margin-right: 35px !important
}

.mr-36-px {
    margin-right: 36px !important
}

.mr-37-px {
    margin-right: 37px !important
}

.mr-38-px {
    margin-right: 38px !important
}

.mr-39-px {
    margin-right: 39px !important
}

.mr-40-px {
    margin-right: 40px !important
}

.mr-41-px {
    margin-right: 41px !important
}

.mr-42-px {
    margin-right: 42px !important
}

.mr-43-px {
    margin-right: 43px !important
}

.mr-44-px {
    margin-right: 44px !important
}

.mr-45-px {
    margin-right: 45px !important
}

.mr-46-px {
    margin-right: 46px !important
}

.mr-47-px {
    margin-right: 47px !important
}

.mr-48-px {
    margin-right: 48px !important
}

.mr-49-px {
    margin-right: 49px !important
}

.mr-50-px {
    margin-right: 50px !important
}

.mr-51-px {
    margin-right: 51px !important
}

.mr-52-px {
    margin-right: 52px !important
}

.mr-53-px {
    margin-right: 53px !important
}

.mr-54-px {
    margin-right: 54px !important
}

.mr-55-px {
    margin-right: 55px !important
}

.mr-56-px {
    margin-right: 56px !important
}

.mr-57-px {
    margin-right: 57px !important
}

.mr-58-px {
    margin-right: 58px !important
}

.mr-59-px {
    margin-right: 59px !important
}

.mr-60-px {
    margin-right: 60px !important
}

.mr-61-px {
    margin-right: 61px !important
}

.mr-62-px {
    margin-right: 62px !important
}

.mr-63-px {
    margin-right: 63px !important
}

.mr-64-px {
    margin-right: 64px !important
}

.mr-65-px {
    margin-right: 65px !important
}

.mr-66-px {
    margin-right: 66px !important
}

.mr-67-px {
    margin-right: 67px !important
}

.mr-68-px {
    margin-right: 68px !important
}

.mr-69-px {
    margin-right: 69px !important
}

.mr-70-px {
    margin-right: 70px !important
}

.mr-71-px {
    margin-right: 71px !important
}

.mr-72-px {
    margin-right: 72px !important
}

.mr-73-px {
    margin-right: 73px !important
}

.mr-74-px {
    margin-right: 74px !important
}

.mr-75-px {
    margin-right: 75px !important
}

.mr-76-px {
    margin-right: 76px !important
}

.mr-77-px {
    margin-right: 77px !important
}

.mr-78-px {
    margin-right: 78px !important
}

.mr-79-px {
    margin-right: 79px !important
}

.mr-80-px {
    margin-right: 80px !important
}

.mr-81-px {
    margin-right: 81px !important
}

.mr-82-px {
    margin-right: 82px !important
}

.mr-83-px {
    margin-right: 83px !important
}

.mr-84-px {
    margin-right: 84px !important
}

.mr-85-px {
    margin-right: 85px !important
}

.mr-86-px {
    margin-right: 86px !important
}

.mr-87-px {
    margin-right: 87px !important
}

.mr-88-px {
    margin-right: 88px !important
}

.mr-89-px {
    margin-right: 89px !important
}

.mr-90-px {
    margin-right: 90px !important
}

.mr-91-px {
    margin-right: 91px !important
}

.mr-92-px {
    margin-right: 92px !important
}

.mr-93-px {
    margin-right: 93px !important
}

.mr-94-px {
    margin-right: 94px !important
}

.mr-95-px {
    margin-right: 95px !important
}

.mr-96-px {
    margin-right: 96px !important
}

.mr-97-px {
    margin-right: 97px !important
}

.mr-98-px {
    margin-right: 98px !important
}

.mr-99-px {
    margin-right: 99px !important
}

.mr-100-px {
    margin-right: 100px !important
}

.mt-0-px {
    margin-top: 0px !important
}

.mt-1-px {
    margin-top: 1px !important
}

.mt-2-px {
    margin-top: 2px !important
}

.mt-3-px {
    margin-top: 3px !important
}

.mt-4-px {
    margin-top: 4px !important
}

.mt-5-px {
    margin-top: 5px !important
}

.mt-6-px {
    margin-top: 6px !important
}

.mt-7-px {
    margin-top: 7px !important
}

.mt-8-px {
    margin-top: 8px !important
}

.mt-9-px {
    margin-top: 9px !important
}

.mt-10-px {
    margin-top: 10px !important
}

.mt-11-px {
    margin-top: 11px !important
}

.mt-12-px {
    margin-top: 12px !important
}

.mt-13-px {
    margin-top: 13px !important
}

.mt-14-px {
    margin-top: 14px !important
}

.mt-15-px {
    margin-top: 15px !important
}

.mt-16-px {
    margin-top: 16px !important
}

.mt-17-px {
    margin-top: 17px !important
}

.mt-18-px {
    margin-top: 18px !important
}

.mt-19-px {
    margin-top: 19px !important
}

.mt-20-px {
    margin-top: 20px !important
}

.mt-21-px {
    margin-top: 21px !important
}

.mt-22-px {
    margin-top: 22px !important
}

.mt-23-px {
    margin-top: 23px !important
}

.mt-24-px {
    margin-top: 24px !important
}

.mt-25-px {
    margin-top: 25px !important
}

.mt-26-px {
    margin-top: 26px !important
}

.mt-27-px {
    margin-top: 27px !important
}

.mt-28-px {
    margin-top: 28px !important
}

.mt-29-px {
    margin-top: 29px !important
}

.mt-30-px {
    margin-top: 30px !important
}

.mt-31-px {
    margin-top: 31px !important
}

.mt-32-px {
    margin-top: 32px !important
}

.mt-33-px {
    margin-top: 33px !important
}

.mt-34-px {
    margin-top: 34px !important
}

.mt-35-px {
    margin-top: 35px !important
}

.mt-36-px {
    margin-top: 36px !important
}

.mt-37-px {
    margin-top: 37px !important
}

.mt-38-px {
    margin-top: 38px !important
}

.mt-39-px {
    margin-top: 39px !important
}

.mt-40-px {
    margin-top: 40px !important
}

.mt-41-px {
    margin-top: 41px !important
}

.mt-42-px {
    margin-top: 42px !important
}

.mt-43-px {
    margin-top: 43px !important
}

.mt-44-px {
    margin-top: 44px !important
}

.mt-45-px {
    margin-top: 45px !important
}

.mt-46-px {
    margin-top: 46px !important
}

.mt-47-px {
    margin-top: 47px !important
}

.mt-48-px {
    margin-top: 48px !important
}

.mt-49-px {
    margin-top: 49px !important
}

.mt-50-px {
    margin-top: 50px !important
}

.mt-51-px {
    margin-top: 51px !important
}

.mt-52-px {
    margin-top: 52px !important
}

.mt-53-px {
    margin-top: 53px !important
}

.mt-54-px {
    margin-top: 54px !important
}

.mt-55-px {
    margin-top: 55px !important
}

.mt-56-px {
    margin-top: 56px !important
}

.mt-57-px {
    margin-top: 57px !important
}

.mt-58-px {
    margin-top: 58px !important
}

.mt-59-px {
    margin-top: 59px !important
}

.mt-60-px {
    margin-top: 60px !important
}

.mt-61-px {
    margin-top: 61px !important
}

.mt-62-px {
    margin-top: 62px !important
}

.mt-63-px {
    margin-top: 63px !important
}

.mt-64-px {
    margin-top: 64px !important
}

.mt-65-px {
    margin-top: 65px !important
}

.mt-66-px {
    margin-top: 66px !important
}

.mt-67-px {
    margin-top: 67px !important
}

.mt-68-px {
    margin-top: 68px !important
}

.mt-69-px {
    margin-top: 69px !important
}

.mt-70-px {
    margin-top: 70px !important
}

.mt-71-px {
    margin-top: 71px !important
}

.mt-72-px {
    margin-top: 72px !important
}

.mt-73-px {
    margin-top: 73px !important
}

.mt-74-px {
    margin-top: 74px !important
}

.mt-75-px {
    margin-top: 75px !important
}

.mt-76-px {
    margin-top: 76px !important
}

.mt-77-px {
    margin-top: 77px !important
}

.mt-78-px {
    margin-top: 78px !important
}

.mt-79-px {
    margin-top: 79px !important
}

.mt-80-px {
    margin-top: 80px !important
}

.mt-81-px {
    margin-top: 81px !important
}

.mt-82-px {
    margin-top: 82px !important
}

.mt-83-px {
    margin-top: 83px !important
}

.mt-84-px {
    margin-top: 84px !important
}

.mt-85-px {
    margin-top: 85px !important
}

.mt-86-px {
    margin-top: 86px !important
}

.mt-87-px {
    margin-top: 87px !important
}

.mt-88-px {
    margin-top: 88px !important
}

.mt-89-px {
    margin-top: 89px !important
}

.mt-90-px {
    margin-top: 90px !important
}

.mt-91-px {
    margin-top: 91px !important
}

.mt-92-px {
    margin-top: 92px !important
}

.mt-93-px {
    margin-top: 93px !important
}

.mt-94-px {
    margin-top: 94px !important
}

.mt-95-px {
    margin-top: 95px !important
}

.mt-96-px {
    margin-top: 96px !important
}

.mt-97-px {
    margin-top: 97px !important
}

.mt-98-px {
    margin-top: 98px !important
}

.mt-99-px {
    margin-top: 99px !important
}

.mt-100-px {
    margin-top: 100px !important
}

.mb-0-px {
    margin-bottom: 0px !important
}

.mb-1-px {
    margin-bottom: 1px !important
}

.mb-2-px {
    margin-bottom: 2px !important
}

.mb-3-px {
    margin-bottom: 3px !important
}

.mb-4-px {
    margin-bottom: 4px !important
}

.mb-5-px {
    margin-bottom: 5px !important
}

.mb-6-px {
    margin-bottom: 6px !important
}

.mb-7-px {
    margin-bottom: 7px !important
}

.mb-8-px {
    margin-bottom: 8px !important
}

.mb-9-px {
    margin-bottom: 9px !important
}

.mb-10-px {
    margin-bottom: 10px !important
}

.mb-11-px {
    margin-bottom: 11px !important
}

.mb-12-px {
    margin-bottom: 12px !important
}

.mb-13-px {
    margin-bottom: 13px !important
}

.mb-14-px {
    margin-bottom: 14px !important
}

.mb-15-px {
    margin-bottom: 15px !important
}

.mb-16-px {
    margin-bottom: 16px !important
}

.mb-17-px {
    margin-bottom: 17px !important
}

.mb-18-px {
    margin-bottom: 18px !important
}

.mb-19-px {
    margin-bottom: 19px !important
}

.mb-20-px {
    margin-bottom: 20px !important
}

.mb-21-px {
    margin-bottom: 21px !important
}

.mb-22-px {
    margin-bottom: 22px !important
}

.mb-23-px {
    margin-bottom: 23px !important
}

.mb-24-px {
    margin-bottom: 24px !important
}

.mb-25-px {
    margin-bottom: 25px !important
}

.mb-26-px {
    margin-bottom: 26px !important
}

.mb-27-px {
    margin-bottom: 27px !important
}

.mb-28-px {
    margin-bottom: 28px !important
}

.mb-29-px {
    margin-bottom: 29px !important
}

.mb-30-px {
    margin-bottom: 30px !important
}

.mb-31-px {
    margin-bottom: 31px !important
}

.mb-32-px {
    margin-bottom: 32px !important
}

.mb-33-px {
    margin-bottom: 33px !important
}

.mb-34-px {
    margin-bottom: 34px !important
}

.mb-35-px {
    margin-bottom: 35px !important
}

.mb-36-px {
    margin-bottom: 36px !important
}

.mb-37-px {
    margin-bottom: 37px !important
}

.mb-38-px {
    margin-bottom: 38px !important
}

.mb-39-px {
    margin-bottom: 39px !important
}

.mb-40-px {
    margin-bottom: 40px !important
}

.mb-41-px {
    margin-bottom: 41px !important
}

.mb-42-px {
    margin-bottom: 42px !important
}

.mb-43-px {
    margin-bottom: 43px !important
}

.mb-44-px {
    margin-bottom: 44px !important
}

.mb-45-px {
    margin-bottom: 45px !important
}

.mb-46-px {
    margin-bottom: 46px !important
}

.mb-47-px {
    margin-bottom: 47px !important
}

.mb-48-px {
    margin-bottom: 48px !important
}

.mb-49-px {
    margin-bottom: 49px !important
}

.mb-50-px {
    margin-bottom: 50px !important
}

.mb-51-px {
    margin-bottom: 51px !important
}

.mb-52-px {
    margin-bottom: 52px !important
}

.mb-53-px {
    margin-bottom: 53px !important
}

.mb-54-px {
    margin-bottom: 54px !important
}

.mb-55-px {
    margin-bottom: 55px !important
}

.mb-56-px {
    margin-bottom: 56px !important
}

.mb-57-px {
    margin-bottom: 57px !important
}

.mb-58-px {
    margin-bottom: 58px !important
}

.mb-59-px {
    margin-bottom: 59px !important
}

.mb-60-px {
    margin-bottom: 60px !important
}

.mb-61-px {
    margin-bottom: 61px !important
}

.mb-62-px {
    margin-bottom: 62px !important
}

.mb-63-px {
    margin-bottom: 63px !important
}

.mb-64-px {
    margin-bottom: 64px !important
}

.mb-65-px {
    margin-bottom: 65px !important
}

.mb-66-px {
    margin-bottom: 66px !important
}

.mb-67-px {
    margin-bottom: 67px !important
}

.mb-68-px {
    margin-bottom: 68px !important
}

.mb-69-px {
    margin-bottom: 69px !important
}

.mb-70-px {
    margin-bottom: 70px !important
}

.mb-71-px {
    margin-bottom: 71px !important
}

.mb-72-px {
    margin-bottom: 72px !important
}

.mb-73-px {
    margin-bottom: 73px !important
}

.mb-74-px {
    margin-bottom: 74px !important
}

.mb-75-px {
    margin-bottom: 75px !important
}

.mb-76-px {
    margin-bottom: 76px !important
}

.mb-77-px {
    margin-bottom: 77px !important
}

.mb-78-px {
    margin-bottom: 78px !important
}

.mb-79-px {
    margin-bottom: 79px !important
}

.mb-80-px {
    margin-bottom: 80px !important
}

.mb-81-px {
    margin-bottom: 81px !important
}

.mb-82-px {
    margin-bottom: 82px !important
}

.mb-83-px {
    margin-bottom: 83px !important
}

.mb-84-px {
    margin-bottom: 84px !important
}

.mb-85-px {
    margin-bottom: 85px !important
}

.mb-86-px {
    margin-bottom: 86px !important
}

.mb-87-px {
    margin-bottom: 87px !important
}

.mb-88-px {
    margin-bottom: 88px !important
}

.mb-89-px {
    margin-bottom: 89px !important
}

.mb-90-px {
    margin-bottom: 90px !important
}

.mb-91-px {
    margin-bottom: 91px !important
}

.mb-92-px {
    margin-bottom: 92px !important
}

.mb-93-px {
    margin-bottom: 93px !important
}

.mb-94-px {
    margin-bottom: 94px !important
}

.mb-95-px {
    margin-bottom: 95px !important
}

.mb-96-px {
    margin-bottom: 96px !important
}

.mb-97-px {
    margin-bottom: 97px !important
}

.mb-98-px {
    margin-bottom: 98px !important
}

.mb-99-px {
    margin-bottom: 99px !important
}

.mb-100-px {
    margin-bottom: 100px !important
}

.m-0-pr {
    margin: 0% !important
}

.m-1-pr {
    margin: 1% !important
}

.m-2-pr {
    margin: 2% !important
}

.m-3-pr {
    margin: 3% !important
}

.m-4-pr {
    margin: 4% !important
}

.m-5-pr {
    margin: 5% !important
}

.m-6-pr {
    margin: 6% !important
}

.m-7-pr {
    margin: 7% !important
}

.m-8-pr {
    margin: 8% !important
}

.m-9-pr {
    margin: 9% !important
}

.m-10-pr {
    margin: 10% !important
}

.m-11-pr {
    margin: 11% !important
}

.m-12-pr {
    margin: 12% !important
}

.m-13-pr {
    margin: 13% !important
}

.m-14-pr {
    margin: 14% !important
}

.m-15-pr {
    margin: 15% !important
}

.m-16-pr {
    margin: 16% !important
}

.m-17-pr {
    margin: 17% !important
}

.m-18-pr {
    margin: 18% !important
}

.m-19-pr {
    margin: 19% !important
}

.m-20-pr {
    margin: 20% !important
}

.m-21-pr {
    margin: 21% !important
}

.m-22-pr {
    margin: 22% !important
}

.m-23-pr {
    margin: 23% !important
}

.m-24-pr {
    margin: 24% !important
}

.m-25-pr {
    margin: 25% !important
}

.m-26-pr {
    margin: 26% !important
}

.m-27-pr {
    margin: 27% !important
}

.m-28-pr {
    margin: 28% !important
}

.m-29-pr {
    margin: 29% !important
}

.m-30-pr {
    margin: 30% !important
}

.m-31-pr {
    margin: 31% !important
}

.m-32-pr {
    margin: 32% !important
}

.m-33-pr {
    margin: 33% !important
}

.m-34-pr {
    margin: 34% !important
}

.m-35-pr {
    margin: 35% !important
}

.m-36-pr {
    margin: 36% !important
}

.m-37-pr {
    margin: 37% !important
}

.m-38-pr {
    margin: 38% !important
}

.m-39-pr {
    margin: 39% !important
}

.m-40-pr {
    margin: 40% !important
}

.m-41-pr {
    margin: 41% !important
}

.m-42-pr {
    margin: 42% !important
}

.m-43-pr {
    margin: 43% !important
}

.m-44-pr {
    margin: 44% !important
}

.m-45-pr {
    margin: 45% !important
}

.m-46-pr {
    margin: 46% !important
}

.m-47-pr {
    margin: 47% !important
}

.m-48-pr {
    margin: 48% !important
}

.m-49-pr {
    margin: 49% !important
}

.m-50-pr {
    margin: 50% !important
}

.m-51-pr {
    margin: 51% !important
}

.m-52-pr {
    margin: 52% !important
}

.m-53-pr {
    margin: 53% !important
}

.m-54-pr {
    margin: 54% !important
}

.m-55-pr {
    margin: 55% !important
}

.m-56-pr {
    margin: 56% !important
}

.m-57-pr {
    margin: 57% !important
}

.m-58-pr {
    margin: 58% !important
}

.m-59-pr {
    margin: 59% !important
}

.m-60-pr {
    margin: 60% !important
}

.m-61-pr {
    margin: 61% !important
}

.m-62-pr {
    margin: 62% !important
}

.m-63-pr {
    margin: 63% !important
}

.m-64-pr {
    margin: 64% !important
}

.m-65-pr {
    margin: 65% !important
}

.m-66-pr {
    margin: 66% !important
}

.m-67-pr {
    margin: 67% !important
}

.m-68-pr {
    margin: 68% !important
}

.m-69-pr {
    margin: 69% !important
}

.m-70-pr {
    margin: 70% !important
}

.m-71-pr {
    margin: 71% !important
}

.m-72-pr {
    margin: 72% !important
}

.m-73-pr {
    margin: 73% !important
}

.m-74-pr {
    margin: 74% !important
}

.m-75-pr {
    margin: 75% !important
}

.m-76-pr {
    margin: 76% !important
}

.m-77-pr {
    margin: 77% !important
}

.m-78-pr {
    margin: 78% !important
}

.m-79-pr {
    margin: 79% !important
}

.m-80-pr {
    margin: 80% !important
}

.m-81-pr {
    margin: 81% !important
}

.m-82-pr {
    margin: 82% !important
}

.m-83-pr {
    margin: 83% !important
}

.m-84-pr {
    margin: 84% !important
}

.m-85-pr {
    margin: 85% !important
}

.m-86-pr {
    margin: 86% !important
}

.m-87-pr {
    margin: 87% !important
}

.m-88-pr {
    margin: 88% !important
}

.m-89-pr {
    margin: 89% !important
}

.m-90-pr {
    margin: 90% !important
}

.m-91-pr {
    margin: 91% !important
}

.m-92-pr {
    margin: 92% !important
}

.m-93-pr {
    margin: 93% !important
}

.m-94-pr {
    margin: 94% !important
}

.m-95-pr {
    margin: 95% !important
}

.m-96-pr {
    margin: 96% !important
}

.m-97-pr {
    margin: 97% !important
}

.m-98-pr {
    margin: 98% !important
}

.m-99-pr {
    margin: 99% !important
}

.m-100-pr {
    margin: 100% !important
}

.ml-0-pr {
    margin-left: 0% !important
}

.ml-1-pr {
    margin-left: 1% !important
}

.ml-2-pr {
    margin-left: 2% !important
}

.ml-3-pr {
    margin-left: 3% !important
}

.ml-4-pr {
    margin-left: 4% !important
}

.ml-5-pr {
    margin-left: 5% !important
}

.ml-6-pr {
    margin-left: 6% !important
}

.ml-7-pr {
    margin-left: 7% !important
}

.ml-8-pr {
    margin-left: 8% !important
}

.ml-9-pr {
    margin-left: 9% !important
}

.ml-10-pr {
    margin-left: 10% !important
}

.ml-11-pr {
    margin-left: 11% !important
}

.ml-12-pr {
    margin-left: 12% !important
}

.ml-13-pr {
    margin-left: 13% !important
}

.ml-14-pr {
    margin-left: 14% !important
}

.ml-15-pr {
    margin-left: 15% !important
}

.ml-16-pr {
    margin-left: 16% !important
}

.ml-17-pr {
    margin-left: 17% !important
}

.ml-18-pr {
    margin-left: 18% !important
}

.ml-19-pr {
    margin-left: 19% !important
}

.ml-20-pr {
    margin-left: 20% !important
}

.ml-21-pr {
    margin-left: 21% !important
}

.ml-22-pr {
    margin-left: 22% !important
}

.ml-23-pr {
    margin-left: 23% !important
}

.ml-24-pr {
    margin-left: 24% !important
}

.ml-25-pr {
    margin-left: 25% !important
}

.ml-26-pr {
    margin-left: 26% !important
}

.ml-27-pr {
    margin-left: 27% !important
}

.ml-28-pr {
    margin-left: 28% !important
}

.ml-29-pr {
    margin-left: 29% !important
}

.ml-30-pr {
    margin-left: 30% !important
}

.ml-31-pr {
    margin-left: 31% !important
}

.ml-32-pr {
    margin-left: 32% !important
}

.ml-33-pr {
    margin-left: 33% !important
}

.ml-34-pr {
    margin-left: 34% !important
}

.ml-35-pr {
    margin-left: 35% !important
}

.ml-36-pr {
    margin-left: 36% !important
}

.ml-37-pr {
    margin-left: 37% !important
}

.ml-38-pr {
    margin-left: 38% !important
}

.ml-39-pr {
    margin-left: 39% !important
}

.ml-40-pr {
    margin-left: 40% !important
}

.ml-41-pr {
    margin-left: 41% !important
}

.ml-42-pr {
    margin-left: 42% !important
}

.ml-43-pr {
    margin-left: 43% !important
}

.ml-44-pr {
    margin-left: 44% !important
}

.ml-45-pr {
    margin-left: 45% !important
}

.ml-46-pr {
    margin-left: 46% !important
}

.ml-47-pr {
    margin-left: 47% !important
}

.ml-48-pr {
    margin-left: 48% !important
}

.ml-49-pr {
    margin-left: 49% !important
}

.ml-50-pr {
    margin-left: 50% !important
}

.ml-51-pr {
    margin-left: 51% !important
}

.ml-52-pr {
    margin-left: 52% !important
}

.ml-53-pr {
    margin-left: 53% !important
}

.ml-54-pr {
    margin-left: 54% !important
}

.ml-55-pr {
    margin-left: 55% !important
}

.ml-56-pr {
    margin-left: 56% !important
}

.ml-57-pr {
    margin-left: 57% !important
}

.ml-58-pr {
    margin-left: 58% !important
}

.ml-59-pr {
    margin-left: 59% !important
}

.ml-60-pr {
    margin-left: 60% !important
}

.ml-61-pr {
    margin-left: 61% !important
}

.ml-62-pr {
    margin-left: 62% !important
}

.ml-63-pr {
    margin-left: 63% !important
}

.ml-64-pr {
    margin-left: 64% !important
}

.ml-65-pr {
    margin-left: 65% !important
}

.ml-66-pr {
    margin-left: 66% !important
}

.ml-67-pr {
    margin-left: 67% !important
}

.ml-68-pr {
    margin-left: 68% !important
}

.ml-69-pr {
    margin-left: 69% !important
}

.ml-70-pr {
    margin-left: 70% !important
}

.ml-71-pr {
    margin-left: 71% !important
}

.ml-72-pr {
    margin-left: 72% !important
}

.ml-73-pr {
    margin-left: 73% !important
}

.ml-74-pr {
    margin-left: 74% !important
}

.ml-75-pr {
    margin-left: 75% !important
}

.ml-76-pr {
    margin-left: 76% !important
}

.ml-77-pr {
    margin-left: 77% !important
}

.ml-78-pr {
    margin-left: 78% !important
}

.ml-79-pr {
    margin-left: 79% !important
}

.ml-80-pr {
    margin-left: 80% !important
}

.ml-81-pr {
    margin-left: 81% !important
}

.ml-82-pr {
    margin-left: 82% !important
}

.ml-83-pr {
    margin-left: 83% !important
}

.ml-84-pr {
    margin-left: 84% !important
}

.ml-85-pr {
    margin-left: 85% !important
}

.ml-86-pr {
    margin-left: 86% !important
}

.ml-87-pr {
    margin-left: 87% !important
}

.ml-88-pr {
    margin-left: 88% !important
}

.ml-89-pr {
    margin-left: 89% !important
}

.ml-90-pr {
    margin-left: 90% !important
}

.ml-91-pr {
    margin-left: 91% !important
}

.ml-92-pr {
    margin-left: 92% !important
}

.ml-93-pr {
    margin-left: 93% !important
}

.ml-94-pr {
    margin-left: 94% !important
}

.ml-95-pr {
    margin-left: 95% !important
}

.ml-96-pr {
    margin-left: 96% !important
}

.ml-97-pr {
    margin-left: 97% !important
}

.ml-98-pr {
    margin-left: 98% !important
}

.ml-99-pr {
    margin-left: 99% !important
}

.ml-100-pr {
    margin-left: 100% !important
}

.mr-0-pr {
    margin-right: 0% !important
}

.mr-1-pr {
    margin-right: 1% !important
}

.mr-2-pr {
    margin-right: 2% !important
}

.mr-3-pr {
    margin-right: 3% !important
}

.mr-4-pr {
    margin-right: 4% !important
}

.mr-5-pr {
    margin-right: 5% !important
}

.mr-6-pr {
    margin-right: 6% !important
}

.mr-7-pr {
    margin-right: 7% !important
}

.mr-8-pr {
    margin-right: 8% !important
}

.mr-9-pr {
    margin-right: 9% !important
}

.mr-10-pr {
    margin-right: 10% !important
}

.mr-11-pr {
    margin-right: 11% !important
}

.mr-12-pr {
    margin-right: 12% !important
}

.mr-13-pr {
    margin-right: 13% !important
}

.mr-14-pr {
    margin-right: 14% !important
}

.mr-15-pr {
    margin-right: 15% !important
}

.mr-16-pr {
    margin-right: 16% !important
}

.mr-17-pr {
    margin-right: 17% !important
}

.mr-18-pr {
    margin-right: 18% !important
}

.mr-19-pr {
    margin-right: 19% !important
}

.mr-20-pr {
    margin-right: 20% !important
}

.mr-21-pr {
    margin-right: 21% !important
}

.mr-22-pr {
    margin-right: 22% !important
}

.mr-23-pr {
    margin-right: 23% !important
}

.mr-24-pr {
    margin-right: 24% !important
}

.mr-25-pr {
    margin-right: 25% !important
}

.mr-26-pr {
    margin-right: 26% !important
}

.mr-27-pr {
    margin-right: 27% !important
}

.mr-28-pr {
    margin-right: 28% !important
}

.mr-29-pr {
    margin-right: 29% !important
}

.mr-30-pr {
    margin-right: 30% !important
}

.mr-31-pr {
    margin-right: 31% !important
}

.mr-32-pr {
    margin-right: 32% !important
}

.mr-33-pr {
    margin-right: 33% !important
}

.mr-34-pr {
    margin-right: 34% !important
}

.mr-35-pr {
    margin-right: 35% !important
}

.mr-36-pr {
    margin-right: 36% !important
}

.mr-37-pr {
    margin-right: 37% !important
}

.mr-38-pr {
    margin-right: 38% !important
}

.mr-39-pr {
    margin-right: 39% !important
}

.mr-40-pr {
    margin-right: 40% !important
}

.mr-41-pr {
    margin-right: 41% !important
}

.mr-42-pr {
    margin-right: 42% !important
}

.mr-43-pr {
    margin-right: 43% !important
}

.mr-44-pr {
    margin-right: 44% !important
}

.mr-45-pr {
    margin-right: 45% !important
}

.mr-46-pr {
    margin-right: 46% !important
}

.mr-47-pr {
    margin-right: 47% !important
}

.mr-48-pr {
    margin-right: 48% !important
}

.mr-49-pr {
    margin-right: 49% !important
}

.mr-50-pr {
    margin-right: 50% !important
}

.mr-51-pr {
    margin-right: 51% !important
}

.mr-52-pr {
    margin-right: 52% !important
}

.mr-53-pr {
    margin-right: 53% !important
}

.mr-54-pr {
    margin-right: 54% !important
}

.mr-55-pr {
    margin-right: 55% !important
}

.mr-56-pr {
    margin-right: 56% !important
}

.mr-57-pr {
    margin-right: 57% !important
}

.mr-58-pr {
    margin-right: 58% !important
}

.mr-59-pr {
    margin-right: 59% !important
}

.mr-60-pr {
    margin-right: 60% !important
}

.mr-61-pr {
    margin-right: 61% !important
}

.mr-62-pr {
    margin-right: 62% !important
}

.mr-63-pr {
    margin-right: 63% !important
}

.mr-64-pr {
    margin-right: 64% !important
}

.mr-65-pr {
    margin-right: 65% !important
}

.mr-66-pr {
    margin-right: 66% !important
}

.mr-67-pr {
    margin-right: 67% !important
}

.mr-68-pr {
    margin-right: 68% !important
}

.mr-69-pr {
    margin-right: 69% !important
}

.mr-70-pr {
    margin-right: 70% !important
}

.mr-71-pr {
    margin-right: 71% !important
}

.mr-72-pr {
    margin-right: 72% !important
}

.mr-73-pr {
    margin-right: 73% !important
}

.mr-74-pr {
    margin-right: 74% !important
}

.mr-75-pr {
    margin-right: 75% !important
}

.mr-76-pr {
    margin-right: 76% !important
}

.mr-77-pr {
    margin-right: 77% !important
}

.mr-78-pr {
    margin-right: 78% !important
}

.mr-79-pr {
    margin-right: 79% !important
}

.mr-80-pr {
    margin-right: 80% !important
}

.mr-81-pr {
    margin-right: 81% !important
}

.mr-82-pr {
    margin-right: 82% !important
}

.mr-83-pr {
    margin-right: 83% !important
}

.mr-84-pr {
    margin-right: 84% !important
}

.mr-85-pr {
    margin-right: 85% !important
}

.mr-86-pr {
    margin-right: 86% !important
}

.mr-87-pr {
    margin-right: 87% !important
}

.mr-88-pr {
    margin-right: 88% !important
}

.mr-89-pr {
    margin-right: 89% !important
}

.mr-90-pr {
    margin-right: 90% !important
}

.mr-91-pr {
    margin-right: 91% !important
}

.mr-92-pr {
    margin-right: 92% !important
}

.mr-93-pr {
    margin-right: 93% !important
}

.mr-94-pr {
    margin-right: 94% !important
}

.mr-95-pr {
    margin-right: 95% !important
}

.mr-96-pr {
    margin-right: 96% !important
}

.mr-97-pr {
    margin-right: 97% !important
}

.mr-98-pr {
    margin-right: 98% !important
}

.mr-99-pr {
    margin-right: 99% !important
}

.mr-100-pr {
    margin-right: 100% !important
}

.mt-0-pr {
    margin-top: 0% !important
}

.mt-1-pr {
    margin-top: 1% !important
}

.mt-2-pr {
    margin-top: 2% !important
}

.mt-3-pr {
    margin-top: 3% !important
}

.mt-4-pr {
    margin-top: 4% !important
}

.mt-5-pr {
    margin-top: 5% !important
}

.mt-6-pr {
    margin-top: 6% !important
}

.mt-7-pr {
    margin-top: 7% !important
}

.mt-8-pr {
    margin-top: 8% !important
}

.mt-9-pr {
    margin-top: 9% !important
}

.mt-10-pr {
    margin-top: 10% !important
}

.mt-11-pr {
    margin-top: 11% !important
}

.mt-12-pr {
    margin-top: 12% !important
}

.mt-13-pr {
    margin-top: 13% !important
}

.mt-14-pr {
    margin-top: 14% !important
}

.mt-15-pr {
    margin-top: 15% !important
}

.mt-16-pr {
    margin-top: 16% !important
}

.mt-17-pr {
    margin-top: 17% !important
}

.mt-18-pr {
    margin-top: 18% !important
}

.mt-19-pr {
    margin-top: 19% !important
}

.mt-20-pr {
    margin-top: 20% !important
}

.mt-21-pr {
    margin-top: 21% !important
}

.mt-22-pr {
    margin-top: 22% !important
}

.mt-23-pr {
    margin-top: 23% !important
}

.mt-24-pr {
    margin-top: 24% !important
}

.mt-25-pr {
    margin-top: 25% !important
}

.mt-26-pr {
    margin-top: 26% !important
}

.mt-27-pr {
    margin-top: 27% !important
}

.mt-28-pr {
    margin-top: 28% !important
}

.mt-29-pr {
    margin-top: 29% !important
}

.mt-30-pr {
    margin-top: 30% !important
}

.mt-31-pr {
    margin-top: 31% !important
}

.mt-32-pr {
    margin-top: 32% !important
}

.mt-33-pr {
    margin-top: 33% !important
}

.mt-34-pr {
    margin-top: 34% !important
}

.mt-35-pr {
    margin-top: 35% !important
}

.mt-36-pr {
    margin-top: 36% !important
}

.mt-37-pr {
    margin-top: 37% !important
}

.mt-38-pr {
    margin-top: 38% !important
}

.mt-39-pr {
    margin-top: 39% !important
}

.mt-40-pr {
    margin-top: 40% !important
}

.mt-41-pr {
    margin-top: 41% !important
}

.mt-42-pr {
    margin-top: 42% !important
}

.mt-43-pr {
    margin-top: 43% !important
}

.mt-44-pr {
    margin-top: 44% !important
}

.mt-45-pr {
    margin-top: 45% !important
}

.mt-46-pr {
    margin-top: 46% !important
}

.mt-47-pr {
    margin-top: 47% !important
}

.mt-48-pr {
    margin-top: 48% !important
}

.mt-49-pr {
    margin-top: 49% !important
}

.mt-50-pr {
    margin-top: 50% !important
}

.mt-51-pr {
    margin-top: 51% !important
}

.mt-52-pr {
    margin-top: 52% !important
}

.mt-53-pr {
    margin-top: 53% !important
}

.mt-54-pr {
    margin-top: 54% !important
}

.mt-55-pr {
    margin-top: 55% !important
}

.mt-56-pr {
    margin-top: 56% !important
}

.mt-57-pr {
    margin-top: 57% !important
}

.mt-58-pr {
    margin-top: 58% !important
}

.mt-59-pr {
    margin-top: 59% !important
}

.mt-60-pr {
    margin-top: 60% !important
}

.mt-61-pr {
    margin-top: 61% !important
}

.mt-62-pr {
    margin-top: 62% !important
}

.mt-63-pr {
    margin-top: 63% !important
}

.mt-64-pr {
    margin-top: 64% !important
}

.mt-65-pr {
    margin-top: 65% !important
}

.mt-66-pr {
    margin-top: 66% !important
}

.mt-67-pr {
    margin-top: 67% !important
}

.mt-68-pr {
    margin-top: 68% !important
}

.mt-69-pr {
    margin-top: 69% !important
}

.mt-70-pr {
    margin-top: 70% !important
}

.mt-71-pr {
    margin-top: 71% !important
}

.mt-72-pr {
    margin-top: 72% !important
}

.mt-73-pr {
    margin-top: 73% !important
}

.mt-74-pr {
    margin-top: 74% !important
}

.mt-75-pr {
    margin-top: 75% !important
}

.mt-76-pr {
    margin-top: 76% !important
}

.mt-77-pr {
    margin-top: 77% !important
}

.mt-78-pr {
    margin-top: 78% !important
}

.mt-79-pr {
    margin-top: 79% !important
}

.mt-80-pr {
    margin-top: 80% !important
}

.mt-81-pr {
    margin-top: 81% !important
}

.mt-82-pr {
    margin-top: 82% !important
}

.mt-83-pr {
    margin-top: 83% !important
}

.mt-84-pr {
    margin-top: 84% !important
}

.mt-85-pr {
    margin-top: 85% !important
}

.mt-86-pr {
    margin-top: 86% !important
}

.mt-87-pr {
    margin-top: 87% !important
}

.mt-88-pr {
    margin-top: 88% !important
}

.mt-89-pr {
    margin-top: 89% !important
}

.mt-90-pr {
    margin-top: 90% !important
}

.mt-91-pr {
    margin-top: 91% !important
}

.mt-92-pr {
    margin-top: 92% !important
}

.mt-93-pr {
    margin-top: 93% !important
}

.mt-94-pr {
    margin-top: 94% !important
}

.mt-95-pr {
    margin-top: 95% !important
}

.mt-96-pr {
    margin-top: 96% !important
}

.mt-97-pr {
    margin-top: 97% !important
}

.mt-98-pr {
    margin-top: 98% !important
}

.mt-99-pr {
    margin-top: 99% !important
}

.mt-100-pr {
    margin-top: 100% !important
}

.mb-0-pr {
    margin-bottom: 0% !important
}

.mb-1-pr {
    margin-bottom: 1% !important
}

.mb-2-pr {
    margin-bottom: 2% !important
}

.mb-3-pr {
    margin-bottom: 3% !important
}

.mb-4-pr {
    margin-bottom: 4% !important
}

.mb-5-pr {
    margin-bottom: 5% !important
}

.mb-6-pr {
    margin-bottom: 6% !important
}

.mb-7-pr {
    margin-bottom: 7% !important
}

.mb-8-pr {
    margin-bottom: 8% !important
}

.mb-9-pr {
    margin-bottom: 9% !important
}

.mb-10-pr {
    margin-bottom: 10% !important
}

.mb-11-pr {
    margin-bottom: 11% !important
}

.mb-12-pr {
    margin-bottom: 12% !important
}

.mb-13-pr {
    margin-bottom: 13% !important
}

.mb-14-pr {
    margin-bottom: 14% !important
}

.mb-15-pr {
    margin-bottom: 15% !important
}

.mb-16-pr {
    margin-bottom: 16% !important
}

.mb-17-pr {
    margin-bottom: 17% !important
}

.mb-18-pr {
    margin-bottom: 18% !important
}

.mb-19-pr {
    margin-bottom: 19% !important
}

.mb-20-pr {
    margin-bottom: 20% !important
}

.mb-21-pr {
    margin-bottom: 21% !important
}

.mb-22-pr {
    margin-bottom: 22% !important
}

.mb-23-pr {
    margin-bottom: 23% !important
}

.mb-24-pr {
    margin-bottom: 24% !important
}

.mb-25-pr {
    margin-bottom: 25% !important
}

.mb-26-pr {
    margin-bottom: 26% !important
}

.mb-27-pr {
    margin-bottom: 27% !important
}

.mb-28-pr {
    margin-bottom: 28% !important
}

.mb-29-pr {
    margin-bottom: 29% !important
}

.mb-30-pr {
    margin-bottom: 30% !important
}

.mb-31-pr {
    margin-bottom: 31% !important
}

.mb-32-pr {
    margin-bottom: 32% !important
}

.mb-33-pr {
    margin-bottom: 33% !important
}

.mb-34-pr {
    margin-bottom: 34% !important
}

.mb-35-pr {
    margin-bottom: 35% !important
}

.mb-36-pr {
    margin-bottom: 36% !important
}

.mb-37-pr {
    margin-bottom: 37% !important
}

.mb-38-pr {
    margin-bottom: 38% !important
}

.mb-39-pr {
    margin-bottom: 39% !important
}

.mb-40-pr {
    margin-bottom: 40% !important
}

.mb-41-pr {
    margin-bottom: 41% !important
}

.mb-42-pr {
    margin-bottom: 42% !important
}

.mb-43-pr {
    margin-bottom: 43% !important
}

.mb-44-pr {
    margin-bottom: 44% !important
}

.mb-45-pr {
    margin-bottom: 45% !important
}

.mb-46-pr {
    margin-bottom: 46% !important
}

.mb-47-pr {
    margin-bottom: 47% !important
}

.mb-48-pr {
    margin-bottom: 48% !important
}

.mb-49-pr {
    margin-bottom: 49% !important
}

.mb-50-pr {
    margin-bottom: 50% !important
}

.mb-51-pr {
    margin-bottom: 51% !important
}

.mb-52-pr {
    margin-bottom: 52% !important
}

.mb-53-pr {
    margin-bottom: 53% !important
}

.mb-54-pr {
    margin-bottom: 54% !important
}

.mb-55-pr {
    margin-bottom: 55% !important
}

.mb-56-pr {
    margin-bottom: 56% !important
}

.mb-57-pr {
    margin-bottom: 57% !important
}

.mb-58-pr {
    margin-bottom: 58% !important
}

.mb-59-pr {
    margin-bottom: 59% !important
}

.mb-60-pr {
    margin-bottom: 60% !important
}

.mb-61-pr {
    margin-bottom: 61% !important
}

.mb-62-pr {
    margin-bottom: 62% !important
}

.mb-63-pr {
    margin-bottom: 63% !important
}

.mb-64-pr {
    margin-bottom: 64% !important
}

.mb-65-pr {
    margin-bottom: 65% !important
}

.mb-66-pr {
    margin-bottom: 66% !important
}

.mb-67-pr {
    margin-bottom: 67% !important
}

.mb-68-pr {
    margin-bottom: 68% !important
}

.mb-69-pr {
    margin-bottom: 69% !important
}

.mb-70-pr {
    margin-bottom: 70% !important
}

.mb-71-pr {
    margin-bottom: 71% !important
}

.mb-72-pr {
    margin-bottom: 72% !important
}

.mb-73-pr {
    margin-bottom: 73% !important
}

.mb-74-pr {
    margin-bottom: 74% !important
}

.mb-75-pr {
    margin-bottom: 75% !important
}

.mb-76-pr {
    margin-bottom: 76% !important
}

.mb-77-pr {
    margin-bottom: 77% !important
}

.mb-78-pr {
    margin-bottom: 78% !important
}

.mb-79-pr {
    margin-bottom: 79% !important
}

.mb-80-pr {
    margin-bottom: 80% !important
}

.mb-81-pr {
    margin-bottom: 81% !important
}

.mb-82-pr {
    margin-bottom: 82% !important
}

.mb-83-pr {
    margin-bottom: 83% !important
}

.mb-84-pr {
    margin-bottom: 84% !important
}

.mb-85-pr {
    margin-bottom: 85% !important
}

.mb-86-pr {
    margin-bottom: 86% !important
}

.mb-87-pr {
    margin-bottom: 87% !important
}

.mb-88-pr {
    margin-bottom: 88% !important
}

.mb-89-pr {
    margin-bottom: 89% !important
}

.mb-90-pr {
    margin-bottom: 90% !important
}

.mb-91-pr {
    margin-bottom: 91% !important
}

.mb-92-pr {
    margin-bottom: 92% !important
}

.mb-93-pr {
    margin-bottom: 93% !important
}

.mb-94-pr {
    margin-bottom: 94% !important
}

.mb-95-pr {
    margin-bottom: 95% !important
}

.mb-96-pr {
    margin-bottom: 96% !important
}

.mb-97-pr {
    margin-bottom: 97% !important
}

.mb-98-pr {
    margin-bottom: 98% !important
}

.mb-99-pr {
    margin-bottom: 99% !important
}

.mb-100-pr {
    margin-bottom: 100% !important
}